<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>

<div>
    <h2>Show added employee in a table</h2>
</div>

<div align="center">
    <h2>Employee List</h2>
</div>

<br>

<div align="center">

    <table border="2px">

        <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${mitarbeiter.firstName}"></td>
            <td th:text="${mitarbeiter.lastName}"></td>
            <td th:text="${mitarbeiter.birthday}"></td>
            <td th:text="${mitarbeiter.address}"></td>
            <td th:text="${mitarbeiter.city}"></td>
            <td th:text="${mitarbeiter.state}"></td>
            <td th:text="${mitarbeiter.zip}"></td>

        </tr>
        </tbody>



    </table>

</div>

</body>
</html>