<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>

<div align="center">
    <!-- after register   -->
    <!--  th:action :     endPoint       method here : post        -->
    <form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">   <!-- form : one object  -->

        <label>First Name:</label>
        <input type="text" th:field="*{firstName}"><br>    <!-- mentor.firstName -->

        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}"><br>

        <label>Email:</label>
        <input type="email" th:field="*{email}"><br>

        <label>Graduated:</label>  <!-- check box -->
        <input type="checkbox" th:field="*{graduated}"><br>

        <label>Gender:</label>  <!-- radio button  -->
        <input type="radio" value="Male" th:field="*{gender}">Male
        <input type="radio" value="Female" th:field="*{gender}">Female<br>

        <label>Batch Number:</label>  <!-- drop down list -->
        <select th:field="*{batch}">                   <!-- value holds the selecting value like JD1 -->
            <option th:each = "theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}" ></option>
        </select><br>

        <label>Company:</label> <!-- text area  -->
        <textarea th:field="*{company}"></textarea><br>

        <button type="submit">Register</button>


    </form>

</div>

</body>
</html>